
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Información Usuario</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="FormControl" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Nombre Usuario
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="Usuario" class="form-control col-md-7 col-xs-12" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Contraseña
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="Contrasena" class="form-control col-md-7 col-xs-12" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Email
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="Email" class="form-control col-md-7 col-xs-12" disabled>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                            <button type="button" class="btn btn-success" id="Editar">Editar</button>
                            <button type="button" class="btn btn-primary" id="Enviar" onclick="ValidarFormulario()" style="display:none;">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#Editar").click(function () {
        $("#Usuario").prop('disabled', false);
        $("#Contrasena").prop('disabled', false);
        $("#Email").prop('disabled', false);
        $("#Enviar").show("Fade");
    });


</script>


