@{
    ViewBag.Title = "VisualizarNaviera";
    Layout = "~/Views/MasterPage.cshtml";
}
<div class="col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="tr" key="mantenedornaviera">Gestionar / Visualizar Navieras</h2>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-success editar tr" id="CrearNaviera" key="botonagregarnaviera">Agregar Naviera</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <table id="Tb_Navieras" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="tr" key="tablaidnaviera">ID NAVIERA</th>
                                <th class="tr" key="tablanombre">NOMBRE</th>
                                <th class="tr" key="tablaestado">ESTADO</th>
                                <th class="tr" key="tablaopciones">OPCIONES</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Modal para agregar datos-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-left:80px; margin-right:10px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width:100%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="Naviera" class="alerta col-sm-2 control-label" key="nombrenaviera">Naviera (*)</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Naviera" onkeyup="this.value = this.value.toUpperCase();">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Estado" class="alerta col-sm-2 control-label" key="estado">Estado</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="Estado">
                                    <option value="0">Activo</option>
                                    <option value="1">Deshabilitado</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success tr" id="IngresarInformacion" key="botonagregarnaviera">Agregar Naviera</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal para agregar datos-->
    <!--Modal para editar datos-->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-left:80px; margin-right:10px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width:100%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="NavieraEditar" class="alerta col-sm-2 control-label" key="nombrenaviera">Naviera (*)</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="NavieraEditar" onkeyup="this.value = this.value.toUpperCase();">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EstadoEditar" class="alerta col-sm-2 control-label" key="estado">Estado</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="EstadoEditar">
                                    <option value="0">Activo</option>
                                    <option value="1">Deshabilitado</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success editar tr" id="EditarInformacion" key="botoneditarnaviera">Editar Naviera</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal para editar datos-->
    <input type="text" class="input form_control" id="idnaviera" disabled="disabled" style="text-align:center; text-align-last:center;" hidden />
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="CrearNavieraModal" style="display:none;"></button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2" id="EditarNavieraModal" style="display:none;"></button>
</div>


<script>

    var lenguaje = document.cookie;

    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetNavieras", "Naviera")',
            success: function (response) {
                var data = [];
                var json = JSON.parse(response);
                var cuenta = json.length;
                $('#Tb_Navieras').show(500);
                for (var i = 0 ; i < cuenta ; i++) {
                    if (json[i].Activo == 0) {
                        var estado = 'Activa';
                    } else {
                        var estado = 'No Activa';
                    }
                        data.push([json[i].Id, json[i].Nombre.toUpperCase(), estado]);
                }

                if (lenguaje == "es") {
                    var table = $('#Tb_Navieras').DataTable({
                        data: data,
                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'csv', 'excel'
                        ],
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                        },
                        fixedColumns: true,
                        "columnDefs": [{
                            "targets": -1,
                            "data": null,
                            "defaultContent": "<i class='fa fa-edit fa-2x' title='Editar Naviera'></i>"
                        }],
                        "rowCallback": function (row, data, index) {
                            if (data[0] == 0) {
                                $('td:eq(3)', row).html(' ');
                            }
                        }

                    });
                } else {
                    var table = $('#Tb_Navieras').DataTable({
                        data: data,
                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'csv', 'excel'
                        ],
                        fixedColumns: true,
                        "columnDefs": [{
                            "targets": -1,
                            "data": null,
                            "defaultContent": "<i class='fa fa-edit fa-2x' title='Editar Naviera'></i>"
                        }],
                        "rowCallback": function (row, data, index) {
                            if (data[0] == 0) {
                                $('td:eq(3)', row).html(' ');
                            }
                        }

                    });
                }


                 $('#Tb_Navieras tbody').on('click', 'i', function () {
                    var data = table.row($(this).parents('tr')).data();
                    $('#NavieraEditar').focus();
                    $('#NavieraEditar').val(data[1]);
                    $("#NavieraEditar").css("background-color", "rgba(255, 0, 0, 0)");
                    $("#idnaviera").val(data[0]);
                    $('#EditarNavieraModal').trigger('click');
                });
            },
        });
    });

    //boton crear commodity//
    $("#CrearNaviera").click(function () {
        $('#CrearNavieraModal').trigger('click');
        $("#Naviera").val("");
        $("#Naviera").css("background-color", "rgba(255, 0, 0, 0)");
        $('#Naviera').focus();
    });
    //boton crear commodity//

    //Ingresar Información//
    $("#IngresarInformacion").click(function () {
        if ($("#Naviera").val() != "") {
            $("#Naviera").css("background-color", "rgba(255, 0, 0, 0)");
            $.ajax({
                type: "POST",
                url: '@Url.Action("CrearNaviera", "Naviera")',
                data: { NombreNaviera: $("#Naviera").val(), Estado: $("#Estado").val() },
                success: function (response) {
                    var json = JSON.parse(response);
                    if (json.validador == 0) {
                        var aux = 'success';
                    } else {
                        var aux = 'warning';
                    }
                    swal({
                        title: '',
                        text: json.Mensaje,
                        type: aux,
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        location.reload();
                    })
                }
            });
        } else {
            $("#Naviera").css("background-color", "rgba(255, 0, 0, 0.4)");
        }
    });
    //Ingresar Información//

    //Editar Información//
    $("#EditarInformacion").click(function () {
        if ($("#NavieraEditar").val() != "") {
            $("#NavieraEditar").css("background-color", "rgba(255, 0, 0, 0)");
                $.ajax({
                    type: "POST",
	                url: '@Url.Action("EditarNaviera", "Naviera")',
                    data: { NombreNaviera: $("#NavieraEditar").val(), Estado: $("#EstadoEditar").val(), IdNaviera: $("#idnaviera").val() },
                    success: function (response) {
                        var json = JSON.parse(response);
                        if (json.validador == 0) {
                            var aux = 'success';
                        } else {
                            var aux = 'warning';
                        }
                        swal({
                            title: '',
                            text: json.Mensaje,
                            type: aux,
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                            location.reload();
                        })
                    }
                });
        } else {
            $("#NavieraEditar").css("background-color", "rgba(255, 0, 0, 0.4)");
        }
    });
    //Editar Información//
</script>