@{
        ViewBag.Title = "Página de Inicio";
        Layout = "~/Views/MasterPage.cshtml";
}

<div class="row">
        <div class="clearfix"></div>
        <div class="x_content">
        </div>
</div>

