@{

        ViewBag.Title = "AplicacionTecnica";
        Layout = "~/Views/MasterPage.cshtml";
}


<div class="row">
    <div class="clearfix"></div>

    <div class="x_content">
        <iframe src="http://68.169.63.233/" style="width:100%; height:700px;" frameborder=1 scrolling=auto></iframe>
    </div>
</div>

