
@{
    ViewBag.Title = "BI2";
    Layout = "~/Views/MasterPage.cshtml";
}

<div class="row">
    <div class="clearfix"></div>

    <div class="x_content">
        <iframe src="https://app.powerbi.com/view?r=eyJrIjoiNDIxZmY5NjEtNDI0Yi00YzZlLThhMzUtMGY5NGJmMzFkYjNjIiwidCI6IjUxOGZkMGU5LTA1MTEtNGYzZC1hMmZhLWIxN2ZjOGM0YTNlYiIsImMiOjR9" style="width:100%; height:700px;" frameborder=1 scrolling=auto></iframe>

        @*<iframe width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNDIxZmY5NjEtNDI0Yi00YzZlLThhMzUtMGY5NGJmMzFkYjNjIiwidCI6IjUxOGZkMGU5LTA1MTEtNGYzZC1hMmZhLWIxN2ZjOGM0YTNlYiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>*@
    </div>
</div>

