@{
    if (Session["lang"].ToString() == "es_ES")
    {
        ViewBag.Title = "CRM";
        Layout = "~/Views/MasterPage.cshtml";
    }

}

<div class="row">
    <div class="clearfix"></div>

    <div class="x_content">
        <iframe src="https://www.insightly.com/" style="width:100%; height:700px;"></iframe>
    </div>
</div>