
@{
    ViewBag.Title = "TotalesRecuperacionControladores";
    Layout = "~/Views/MasterPage.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <br />

                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Totales de Recuperacion de Controladores"
            },
            axisX: {
                valueFormatString: "DD MMM",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            axisY: {
                title: "Numero de Controladores",
                crosshair: {
                    enabled: true
                }
            },
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                verticalAlign: "bottom",
                horizontalAlign: "left",
                dockInsidePlotArea: true,
                itemclick: toogleDataSeries
            },
            data: [{
                type: "line",
                showInLegend: true,
                name: "Controladores Recuperados",
                markerType: "square",
                xValueFormatString: "DD MMM, YYYY",
                color: "#F08080",
                dataPoints: [
                    { x: new Date(2017, 1), y: 650 },
                    { x: new Date(2017, 2), y: 700 },
                    { x: new Date(2017, 3), y: 710 },
                    { x: new Date(2017, 4), y: 658 },
                    { x: new Date(2017, 5), y: 734 },
                    { x: new Date(2017, 6), y: 963 },
                    { x: new Date(2017, 7), y: 847 },
                    { x: new Date(2017, 8), y: 853 },
                    { x: new Date(2017, 9), y: 869 },
                    { x: new Date(2017, 10), y: 943 },
                    { x: new Date(2017, 11), y: 970 },
                    { x: new Date(2017, 12), y: 869 },
                    { x: new Date(2018, 1), y: 890 },
                    { x: new Date(2018, 2), y: 930 }
                ]
            },
            {
                type: "line",
                showInLegend: true,
                name: "Controladores No Recuperados",
                lineDashType: "dash",
                dataPoints: [
                    { x: new Date(2017, 1), y: 510 },
                    { x: new Date(2017, 2), y: 560 },
                    { x: new Date(2017, 3), y: 540 },
                    { x: new Date(2017, 4), y: 558 },
                    { x: new Date(2017, 5), y: 544 },
                    { x: new Date(2017, 6), y: 693 },
                    { x: new Date(2017, 7), y: 657 },
                    { x: new Date(2017, 8), y: 663 },
                    { x: new Date(2017, 9), y: 639 },
                    { x: new Date(2017, 10), y: 673 },
                    { x: new Date(2017, 11), y: 660 },
                    { x: new Date(2017, 12), y: 562 },
                    { x: new Date(2018, 1), y: 643 },
                    { x: new Date(2018, 2), y: 570 }
                ]
            }]
        });
        chart.render();

        function toogleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }

    }
</script>



