
@{
    ViewBag.Title = "TotalesClaims";
    Layout = "~/Views/MasterPage.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <br />

                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Totales de Claims"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: [
                    { y: 52, name: "Abiertos", exploded: true },
                    { y: 40, name: "Cerrados" },
                    { y: 8, name: "Preventivos" }
                ]
            }]
        });
        chart.render();
    }

    function explodePie(e) {
        if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();

    }

</script>

