@{
    if (Session["lang"].ToString() == "es_ES")
    {
        ViewBag.Title = "AplicacionTecnica";
        Layout = "~/Views/MasterPage.cshtml";
    }
    else
    {
        ViewBag.Title = "TechnicalApplication";
        Layout = "~/Views/MasterPageIngles.cshtml";
    }

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConsultarDatosExternos</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
