
@{
    ViewBag.Title = "ClaimsPendientePago";
    Layout = "~/Views/MasterPage.cshtml";
}

<div class="row">
    @*<div class="col-md-12 col-sm-12 col-xs-12">*@
    <div class="x_panel">
        <div class="x_title">
            <h2>Claims Pendientes de Pago<small></small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form id="FormControl" data-parsley-validate class="form-horizontal form-label-left">
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-6">
                            ID Claim
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="booking" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_naviera" class="control-label col-md3 col-sm-3 col-xs-6">
                            Estado
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <select class="custom-select form-control col-md-7 col-xs-12">
                                <option selected>Seleccione un Estado</option>
                                <option value="1">PREVENTIVO</option>
                                <option value="2">ABIERTO</option>
                                <option value="3">CERRADO</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_viaje" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Booking
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="viaje" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_exportador" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Contenedor
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="exportador" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_viaje" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Fecha Inicio Busqueda
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="fecha_inicio" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_exportador" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Fecha Fin Busqueda
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="fecha_termino" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4">
                        <label id="lb_eta" class="control-label col-md-6 col-sm-6 col-xs-6">
                            Buscar por Fecha Notificacion
                        </label>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <input id="chk_eta" type="checkbox" value="" class="checkbox-inline">
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                        <button type="button" class="btn btn-success" onclick="MostrarIngresoPrestacionServicio()">Buscar</button>
                    </div>
                </div>
                <br />
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>ID Claim</th>
                                <th>Estado</th>
                                <th>Fecha Notificacion</th>
                                <th>Booking</th>
                                <th>Contenedor</th>
                                <th>Controlador</th>
                                <th>C/S Grafico</th>
                                <th>DOL</th>
                                <th>Vigencia</th>
                                <th>Status Lab</th>
                                <th>Notificacion JLT</th>
                                <th>Notificacion Orion</th>
                                <th>Notificacion GML</th>
                                <th>Fecha Cierre</th>
                                <th colspan="1">Pagar Claim</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>PENDIENTE DE PAGO</td>
                                <td>20-08-2017</td>
                                <td>070ISA0610891</td>
                                <td>TTNU8475844</td>
                                <td>886B0F003B20</td>
                                <td>CON GRAFICO</td>
                                <td>25-08-2017</td>
                                <td>25-10-2017</td>
                                <td>REGISTRO AIRE NORMAL</td>
                                <td>NOTIFICADO</td>
                                <td>NOTIFICADO</td>
                                <td>NOTIFICADO</td>
                                <td>08-10-2017</td>
                                <td style="font-size:18px; text-align:center"><i class="fa fa-money" title="Pagar Claim" id="Pagar"></i></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>PENDIENTE DE PAGO</td>
                                <td>20-08-2017</td>
                                <td>070ISA0610891</td>
                                <td>TTNU8475844</td>
                                <td>886B0F003B20</td>
                                <td>CON GRAFICO</td>
                                <td>25-08-2017</td>
                                <td>25-10-2017</td>
                                <td>REGISTRO AIRE NORMAL</td>
                                <td>NOTIFICADO</td>
                                <td>NOTIFICADO</td>
                                <td>NOTIFICADO</td>
                                <td>11-10-2017</td>
                                <td style="font-size:18px; text-align:center"><i class="fa fa-money" title="Pagar Claim" id="Pagar"></i></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>PENDIENTE DE PAGO</td>
                                <td>20-08-2017</td>
                                <td>070ISA0610891</td>
                                <td>TTNU8475844</td>
                                <td>886B0F003B20</td>
                                <td>CON GRAFICO</td>
                                <td>25-08-2017</td>
                                <td>25-10-2017</td>
                                <td>REGISTRO AIRE NORMAL</td>
                                <td>NOTIFICADO</td>
                                <td>NOTIFICADO</td>
                                <td>NOTIFICADO</td>
                                <td>12-10-2017</td>
                                <td style="font-size:18px; text-align:center"><i class="fa fa-money" title="Pagar Claim" id="Pagar"></i></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>PENDIENTE DE PAGO</td>
                                <td>20-08-2017</td>
                                <td>070ISA0610891</td>
                                <td>TTNU8475844</td>
                                <td>886B0F003B20</td>
                                <td>CON GRAFICO</td>
                                <td>25-08-2017</td>
                                <td>25-10-2017</td>
                                <td>REGISTRO AIRE NORMAL</td>
                                <td>NOTIFICADO</td>
                                <td>NOTIFICADO</td>
                                <td>NOTIFICADO</td>
                                <td>13-10-2017</td>
                                <td style="font-size:18px; text-align:center"><i class="fa fa-money" title="Pagar Claim" id="Pagar"></i></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>PENDIENTE DE PAGO</td>
                                <td>20-08-2017</td>
                                <td>070ISA0610891</td>
                                <td>TTNU8475844</td>
                                <td>886B0F003B20</td>
                                <td>CON GRAFICO</td>
                                <td>25-08-2017</td>
                                <td>25-10-2017</td>
                                <td>REGISTRO AIRE NORMAL</td>
                                <td>NOTIFICADO</td>
                                <td>NOTIFICADO</td>
                                <td>NOTIFICADO</td>
                                <td>10-10-2017</td>
                                <td style="font-size:18px; text-align:center"><i class="fa fa-money" title="Pagar Claim" id="Pagar"></i></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>PENDIENTE DE PAGO</td>
                                <td>20-08-2017</td>
                                <td>070ISA0610891</td>
                                <td>TTNU8475844</td>
                                <td>886B0F003B20</td>
                                <td>CON GRAFICO</td>
                                <td>25-08-2017</td>
                                <td>25-10-2017</td>
                                <td>REGISTRO AIRE NORMAL</td>
                                <td>NOTIFICADO</td>
                                <td>NOTIFICADO</td>
                                <td>NOTIFICADO</td>
                                <td>15-10-2017</td>
                                <td style="font-size:18px; text-align:center"><i class="fa fa-money" title="Pagar Claim" id="Pagar"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
@*</div>*@

<script type="text/javascript">
    //Botón Agregar Servicio//
    $("#Agregar").click(function () {
        var valores = [];
        var i = 0;
        // Obtenemos todos los valores contenidos en los <td> de la fila
        // seleccionada
        $(this).parents("tr").find("td").each(function () {
            valores[i++] = $(this).html();
        });
        var url = '@Url.Action("IngresarClaimServicio", "Claim")?id=' + valores[0] + '&booking=' + valores[1] + '&contenedor=' + valores[2] + '&controlador=' + valores[3] + '&naviera=' + valores[4] + '&nave=' + valores[5] + '&viaje=' + valores[6] + '&exportador=' + valores[7] + '&eta=' + valores[8] + '&iniciostacking=' + valores[9] + '&producto=' + valores[10] + '&porigen=' + valores[11] + '&pdestino=' + valores[12] + '&co2=' + valores[13] + '&o2=' + valores[14] + '&temperatura=' + valores[15] + '&tecnologia=' + valores[16];
        window.location.href = url;
    });
    //Botón Agregar Servicio//

    //Botón Agregar Nota//
    $("#Pagar").click(function () {
        var valores = [];
        var i = 0;
        // Obtenemos todos los valores contenidos en los <td> de la fila
        // seleccionada
        $(this).parents("tr").find("td").each(function () {
            valores[i++] = $(this).html();
        });
        swal({
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            title: 'Ingresar numero finiquito de pago',
            html:
                '<div class="row">' +
                    '<div class="form-group col-lg-12"><label for="Descripcion"></label><input type="text" id="finiquito" class="form-control col-md-7 col-xs-12"></div>' +
                '</div>',
            preConfirm: function () {
                return new Promise(function (resolve) {
                    resolve([
                        //Obtener nuevos Datos Ingresados
                    ])
                })
            },
            onOpen: function () {
                //Cargar Paises
                //Cargar Ciudades Respecto a Pais Seleccionado
                $('#NombreDeposito').focus()
            }
        }).then(function (result) {

        }).catch(swal.noop)
    });
    //Botón Agregar Nota//


    function MostrarIngresoServicio()
    {
        var Booking = $("#booking").val();
        var Viaje = $("#viaje").val();

        //if (Booking == "") {
        //    swal('Error...', 'Campo Booking Obligatorio', 'error')
        //} else if (Nave == "") {
        //    swal('Error...', 'Campo Viaje Obligatorio', 'error')
        //}

        document.getElementById("lb_contenedor").style.visibility = "visible";
        document.getElementById("contenedor").style.visibility = "visible";
        document.getElementById("lb_fecha_servicio").style.visibility = "visible";
        document.getElementById("fecha_servicio").style.visibility = "visible";
        document.getElementById("lb_hora_llegada").style.visibility = "visible";
        document.getElementById("hora_llegada").style.visibility = "visible";
    }

    function ValidarFormulario() {
        var Booking = $("#booking").val();
        var Contenedor = $("#contenedor").val();
        var Viaje = $("#viaje").val();
        var FechaServicio = $("#fecha_servicio").val();
        var HoraLlegada = $("#hora_llegada").val();

        if (Booking == "") {
            swal('Error...', 'Campo Booking Obligatorio', 'error')
        } else if (Contenedor == "") {
            swal('Error...', 'Campo Contenedor Obligatorio', 'error')
        } else if (Viaje == "") {
            swal('Error...', 'Campo Viaje Obligatorio', 'error')
        } else if (FechaServicio == "") {
            swal('Error...', 'Campo Fecha Servicio Obligatorio', 'error')
        } else if (HoraLlegada == "") {
            swal('Error...', 'Campo Hora Llegada Obligatorio', 'error')
        }

        $.ajax({
            type: "POST",
            url: "/Reservas/IngresarDatos",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                Booking: Booking,
                Nave: Nave,
                Naviera: Naviera,
                Exportador: Exportador,
                Producto: Producto,
                Destino: Destino,
                Origen: Origen,
                Viaje: Viaje,
                FechaArribo: Eta,
                FechaSalida: Etd,
                CantidadCO: CantidadCo,
                CantidadO: CantiadO,
                Temperatura: Temperatura,
                Tamano: Tamano
            },
            success: function (d) {
                if (d.success == true)
                    alert('Has introducido un nuevo coche!!');
                else { }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Error!!');
            }
        });
    }

    $(function () {
        $("#fecha_inicio").datepicker({
            dateFormat: "dd-mm-yy",
            firstDay: 1,
            dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
            dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
            monthNames:
                ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio",
                "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            monthNamesShort:
                ["Ene", "Feb", "Mar", "Abr", "May", "Jun",
                "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
        });

        $("#fecha_termino").datepicker({
            dateFormat: "dd-mm-yy",
            firstDay: 1,
            dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
            dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
            monthNames:
                ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio",
                "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            monthNamesShort:
                ["Ene", "Feb", "Mar", "Abr", "May", "Jun",
                "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
        });
    });
</script>
